# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.sqlite3.bak
*.bak
*.log
.env
.env.*

# Node
node_modules/

# IDE
.vscode/
.DS_Store

# Build outputs
build/
*.egg-info/

backend/bin/
backend/obj/
dashboard/gemini_api_key.txt
*.zip
media/

.venv/
